ol {
	background-color:blue;
	list-style-position:inside;
	font-size:20px;
}
ol li {
	background-color:lime;
	
}
ul {
	background-color:red;
	list-style-position:outside;	
	font-size:20px;
}
ul li {
	background-color:pink;
	margin:10px;
}